@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
	--color-primary: #fbb03b;
	--font-family-primary: Poppins, sans-serif;
	--color-white: #fff;
	--color-black: #333333;
	--color-gray-1: #a8a8a8;
	--color-gray-2: #808080;
	--color-gray-4: #f6f6f6;
	--color-red: #f00;
	--size-xxs: 0.25rem;
	--size-xs: 0.5rem;
	--size-s: 0.75rem;
	--size-m: 1rem;
	--size-l: 1.5rem;
	--size-xl: 3rem;
	--size-xxl: 6rem;
	--border-gray: 1px solid #c4c4c4;
}
/* base */
* {
	color: inherit;
	font-family: inherit;
}
html {
	font-size: 16px;
}
body {
	font-family: var(--font-family-primary);
	font-weight: normal;
	line-height: 1.5;
	color: var(--color-black);
	box-sizing: border-box;
}
section {
	width: 100%;
	position: relative;
}
h2 {
	font-size: 4.5rem;
}
h3 {
	font-size: 2rem;
	font-weight: 300;
}
h4 {
	font-size: 1rem;
}
p {
	font-size: 0.875rem;
}
img {
	max-height: 100%;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
span {
	display: inline-block;
}
/* commons */
.text-primary {
	color: var(--color-primary) !important;
}
.text-center {
	text-align: center;
}
.icon {
	height: 1.5rem;
	width: auto;
}
.section-action {
	position: absolute;
	top: 0;
	right: 2rem;
}
.background-img {
	filter: brightness(50%);
	z-index: -100;
}
.input {
	box-sizing: border-box;
	padding: 0.8625rem 1.5rem;
	height: 3rem;
	font-size: var(--size-s);
	border-radius: 3rem;
	border: none;
}
.btn {
	display: inline-block;
	padding: 0.875rem 1.5rem;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	font-size: 0.8125rem;
	cursor: pointer;
	border-radius: 3rem;
	border: var(--border-gray);
}
.btn.btn-default {
	background: transparent;
}
.btn.btn-light {
	border: none;
	background-color: var(--color-white);
}
.btn.btn-primary {
	background-color: var(--color-primary);
}
.unbordered {
	border: none;
}
.badge {
	color: var(--color-white);
	background-color: var(--color-red);
	font-size: var(--size-s);
	font-weight: bold;
	padding: 6px 9px;
	border-radius: 2rem;
}
/* layout */
.flex {
	display: flex;
}
.f-center-x {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-end {
	justify-content: flex-end;
}
.mobile-screen {
	display: none;
}
.list-group {
	position: relative;
	display: flex;
}
.list-group.list-column {
	flex-direction: column;
}
.list-group .list-group-item {
	position: relative;
}
/* header */
.header {
	width: 100%;
	position: absolute;
	top: 3rem;
	z-index: 100;
}
.logo-img {
	height: auto;
	width: 8.6875rem;
}
.menu-category .list-group {
	gap: 6rem;
	font-weight: bold;
}
.menu-functional .list-group {
	gap: 1.5rem;
}
/* hero */
.hero {
	position: relative;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/img/home-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 center;
}
.hero-container {
	padding: 13.875rem 0 0 6rem;
}
.hero-heading {
	margin-bottom: 10.6875rem;
	color: var(--color-white);
}
.hero-text {
	font-size: 4.5rem;
	line-height: 4.5625rem;
	font-weight: bold;
}
.hero-text .text-primary {
	display: block;
}
.hero-redirect {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: underline;
}
.hero-redirect::before {
	content: "";
	background: url(../assets/img/arrow-right.png);
	background-repeat: no-repeat;
	background-size: auto 1rem;
	background-position: center center;
	vertical-align: middle;
	display: inline-block;
	background-color: var(--color-primary);
	/* padding: 11px 10px; */
	height: 2.25rem;
	width: 2.25rem;
	margin-right: 1.25rem;
	border-radius: 50%;
}
.pill {
	height: 4rem;
	width: 75%;
	bottom: 0;
	padding-top: 2.25rem;
	padding-bottom: 1.5rem;
	padding-right: 6rem;
	background-color: var(--color-white);
	border-top-right-radius: 3rem;
}
.pill::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 7.75rem;
	width: 240px;
	overflow-x: auto;
	background-color: var(--color-white);
	margin-left: -240px;
}
.pill-item {
	display: flex;
	flex-direction: row;
}
.pill-item img {
	height: 2.25rem;
	width: 2.25rem;
	background-color: #fff3df;
	border-radius: 0.5rem;
}
.pill-item-content {
	margin-left: 1rem;
}
.pill-item-title {
	font-size: 0.875rem;
	font-weight: bold;
}
.pill-item-desc {
	font-size: 0.75rem;
	color: var(--color-gray-1);
}
/* banner */
.banner-item {
	position: relative;
}
.banner-item-content {
	position: absolute;
	bottom: 53px;
	left: 40px;
	width: 70%;
}
.banner-item-title {
	font-size: 1.5rem;
	min-height: 4.5rem;
	color: var(--color-white);
	margin-bottom: 1.175rem;
}
/* product */
.selected-product .container {
	position: relative;
	padding-bottom: 1rem;
}
.product {
	position: relative;
}
.product-img {
	margin-bottom: var(--size-m);
}
.product-price {
	font-size: 1.25rem;
	display: flex;
}
.product-price.new-price {
	color: var(--color-red);
	margin-right: auto;
}
.product-price.old-price {
	color: #cecece;
}
.product-promo {
	position: absolute;
	top: var(--size-l);
	left: var(--size-m);
}
/* why choose us */
.benefit {
	padding: 3rem 0;
	background-color: var(--color-gray-4);
}
.benefit-item {
	width: 90%;
}
.benefit-item .icon {
	height: 5.66666667rem;
	width: auto;
	border-radius: 5px;
}
.benefit-item-title {
	font-weight: bold;
	padding-bottom: 1rem;
}
.benefit-item-desc {
	color: var(--color-gray-2);
}
/* subcribe */
.subcribe {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.5) 10%,
			rgba(0, 0, 0, 0) 90%
		),
		url(../assets/img/home-newsletter.png);
	padding: 5.3125rem 0;
	background-size: cover;
	background-position: center;
}
.subcribe-title {
	font-size: var(--size-l);
	color: var(--color-white);
}
.subcribe-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.subcribe-form input {
	width: 60%;
}
.subcribe-form button {
	width: 30%;
}

/* footer */
.footer {
	color: var(--color-white);
	background-color: var(--color-primary);
	margin-bottom: 0;
}
.brand-story {
	margin-top: -10px;
}
.brand-story-detail {
	font-size: 0.8725rem;
}
.social img {
	height: var(--size-m);
}
.nav-link {
	height: 100%;
}
.nav-link-title {
	font-weight: bold;
}
.copyright {
	padding: var(--size-l);
	border-top: 1px solid #fff;
	font-size: var(--size-s);
	text-align: center;
}
/* Responsive */
@media screen and (max-width: 576px) {
	html {
		font-size: 12px;
	}
	h3 {
		font-size: 1.5rem;
	}
	/* common */
	.desktop-screen {
		display: none;
	}
	.mobile-screen {
		display: block;
	}
	.btn {
		padding: 0.25rem 0.8rem;
		font-size: 0.8333333rem;
	}
	.badge {
		padding: 0.16666667rem 0.416666667rem;
	}
	.section-action {
		margin-top: 0.5833333rem;
	}
	.section-action .btn {
		border: none;
	}
	/* header mobile */
	.header {
		position: fixed;
		top: 0;
		background-color: var(--color-white);
	}
	.header .container {
		padding: 1.66666667rem 2rem;
	}
	.header .logo-img {
		height: auto;
		width: 10.666667rem;
	}
	.menu-category {
		display: none;
	}
	.menu-functional .icon {
		height: 1.666666667rem;
	}
	/* hero */
	.hero {
		margin-bottom: 2rem;
	}
	.hero-container {
		padding: 22.58333333rem 0;
	}
	.hero-heading {
		width: 100%;
		margin-bottom: 0;
	}
	.hero-text {
		font-size: 4rem;
	}
	.hero-redirect::before {
		height: 2.6666667rem;
		width: 2.6666667rem;
	}
	.pill {
		display: none;
	}
	/* product */
	.product .product-img {
		margin-bottom: 0rem;
	}
	.product-price {
		font-size: 0.833333rem;
		margin-bottom: 0.333333rem;
	}
	.product-promo {
		top: 1rem;
		left: 0.75rem;
	}
	/* why choose us */
	.benefit li {
		width: 100%;
	}
	.benefit-item {
		display: flex;
		flex-direction: row;
		margin-bottom: 1.5rem;
	}
	.benefit-item .icon {
		margin-bottom: 0;
		margin-right: 1.5rem;
	}
	/* banner */
	.banner-item-content {
		width: 60%;
		left: 1.3333333rem;
		bottom: 1.3333333rem;
	}
	.banner-item-title {
		font-size: 1.1666666667rem;
		min-height: 3.5rem;
		margin-bottom: 0.75rem;
	}
	.today-product-title {
		text-align: left;
	}
	/* newsletter */
	.subcribe {
		padding: 2rem 0;
	}
	.subcribe-title {
		font-size: 1.1666666667rem;
		width: 60%;
		margin-bottom: 2rem;
	}
	.subcribe-form .input {
		width: 100%;
		margin-bottom: 1.33333333rem;
	}
	.subcribe-form .btn {
		font-size: 1rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		width: 40%;
	}
	/* footer */
	.brand-story {
		width: 11.44rem;
		height: auto;
	}
	.brand-story .logo-img {
		width: 100%;
	}
	.brand-story-detail {
		font-size: 1.1666667rem;
	}
	.social {
		display: none;
	}
	.nav-link > .list-group {
		flex-direction: column;
		gap: 2rem;
	}
}
@media screen and (max-width: 990px) {
}
@media screen and (max-width: 1200px) {
}
