@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

section {
  width: 100%;
  position: relative;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

.flex {
  display: flex;
}

.f-center-x {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  h3 {
    font-size: 1.5rem;
  }
}
.mb-xxs {
  margin-bottom: 0.25rem;
}

.mt-xxs {
  margin-top: 0.25rem;
}

.ml-xxs {
  margin-left: 0.25rem;
}

.mr-xxs {
  margin-right: 0.25rem;
}

.mx-xxs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-xxs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.pb-xxs {
  padding-bottom: 0.25rem;
}

.pt-xxs {
  padding-top: 0.25rem;
}

.pl-xxs {
  padding-left: 0.25rem;
}

.pr-xxs {
  padding-right: 0.25rem;
}

.px-xxs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-xxs {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.gap-xxs {
  gap: 0.25rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.mt-xs {
  margin-top: 0.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.mr-xs {
  margin-right: 0.5rem;
}

.mx-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pb-xs {
  padding-bottom: 0.5rem;
}

.pt-xs {
  padding-top: 0.5rem;
}

.pl-xs {
  padding-left: 0.5rem;
}

.pr-xs {
  padding-right: 0.5rem;
}

.px-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-xs {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.gap-xs {
  gap: 0.5rem;
}

.mb-s {
  margin-bottom: 0.75rem;
}

.mt-s {
  margin-top: 0.75rem;
}

.ml-s {
  margin-left: 0.75rem;
}

.mr-s {
  margin-right: 0.75rem;
}

.mx-s {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-s {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.pb-s {
  padding-bottom: 0.75rem;
}

.pt-s {
  padding-top: 0.75rem;
}

.pl-s {
  padding-left: 0.75rem;
}

.pr-s {
  padding-right: 0.75rem;
}

.px-s {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-s {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.gap-s {
  gap: 0.75rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mt-m {
  margin-top: 1rem;
}

.ml-m {
  margin-left: 1rem;
}

.mr-m {
  margin-right: 1rem;
}

.mx-m {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-m {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.pt-m {
  padding-top: 1rem;
}

.pl-m {
  padding-left: 1rem;
}

.pr-m {
  padding-right: 1rem;
}

.px-m {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-m {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.gap-m {
  gap: 1rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mx-l {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-l {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.px-l {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-l {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.gap-l {
  gap: 1.5rem;
}

.mb-xl {
  margin-bottom: 3rem;
}

.mt-xl {
  margin-top: 3rem;
}

.ml-xl {
  margin-left: 3rem;
}

.mr-xl {
  margin-right: 3rem;
}

.mx-xl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-xl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pb-xl {
  padding-bottom: 3rem;
}

.pt-xl {
  padding-top: 3rem;
}

.pl-xl {
  padding-left: 3rem;
}

.pr-xl {
  padding-right: 3rem;
}

.px-xl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-xl {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.gap-xl {
  gap: 3rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

.mt-xxl {
  margin-top: 6rem;
}

.ml-xxl {
  margin-left: 6rem;
}

.mr-xxl {
  margin-right: 6rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.pb-xxl {
  padding-bottom: 6rem;
}

.pt-xxl {
  padding-top: 6rem;
}

.pl-xxl {
  padding-left: 6rem;
}

.pr-xxl {
  padding-right: 6rem;
}

.px-xxl {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-xxl {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.gap-xxl {
  gap: 6rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #fbb03b;
}

.background-img {
  filter: brightness(50%);
  z-index: -100;
}

.logo-img {
  width: 8.6875rem;
}

.mobile-screen {
  display: none;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.625rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}
.row > * {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 0.625rem;
}
.row .col {
  flex: 1;
}
.row .col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}
.row .col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}
.row .col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.row .col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.row .col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}
.row .col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.row .col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}
.row .col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}
.row .col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.row .col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}
.row .col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}
.row .col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .container {
    max-width: 990px;
  }

  .row .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .row .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .row .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .row .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .row .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .row .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .row .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .row .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .row .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .row .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .row .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .row .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .row .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .row .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .row .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .row .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .row .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .row .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .row .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.header {
  position: absolute;
  top: 3rem;
  z-index: 100;
  width: 100%;
}
.header .menu-category .list-group {
  gap: 6rem;
  font-weight: bold;
}
.header .menu-functional .icon {
  width: 1.5rem;
}
.header .menu-functional .list-group {
  gap: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
  .header .container {
    padding: 1.66666667rem 2rem;
  }
  .header .logo-img {
    width: 10.666667rem;
  }
  .header .menu-category {
    display: none;
  }
  .header .menu-functional .icon {
    width: 1.666666667rem;
  }
  .header .menu-functional .list-group {
    gap: 2rem;
  }
}
.footer {
  color: #fff;
  background-color: #fbb03b;
  margin-bottom: 0;
}
.footer .social img {
  width: 1rem;
}
.footer .brand-story {
  margin-top: -10px;
}
.footer .brand-story-detail {
  font-size: 0.8725rem;
}
.footer .nav-link-title {
  font-weight: bold;
}

.copyright {
  padding: 1.5rem;
  border-top: 1px solid #fff;
  font-size: 0.75rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer .social {
    display: none;
  }
  .footer .brand-story {
    margin-top: 0;
    width: 100%;
  }
  .footer .brand-story .logo-img {
    width: 11.44rem;
  }
  .footer .brand-story-detail {
    font-size: 1.1666667rem;
  }
  .footer .nav-link {
    gap: 2rem;
  }
  .footer .nav-link > .list-group {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .row {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .footer .row > * {
    width: 100%;
  }
}
.btn {
  display: inline-block;
  padding: 0.875rem 1.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.8125rem;
  cursor: pointer;
  border-radius: 3rem;
  border: 1px solid #c4c4c4;
}
.btn-default {
  background: transparent;
}
.btn-light {
  border: none;
  background-color: #fff;
}
.btn-primary {
  background-color: #fbb03b;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 0.25rem 0.8rem;
    font-size: 0.8333333rem;
  }
}
.unbordered {
  border: none;
}

.badge {
  color: #fff;
  background-color: #f00;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 6px 9px;
  border-radius: 2rem;
}

.cart-btn-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  background-color: #fbb03b;
}

@media only screen and (max-width: 768px) {
  .badge {
    padding: 0.16666667rem 0.416666667rem;
  }
}
.list-group {
  position: relative;
  display: flex;
}
.list-group.list-column {
  flex-direction: column;
}
.list-group-item {
  position: relative;
}

.benefit {
  padding: 3rem 0;
  background-color: #f6f6f6;
}
.benefit-item {
  width: 90%;
}
.benefit-item .icon {
  width: 4.25rem;
  border-radius: 5px;
}
.benefit-item img {
  width: 4rem;
  border-radius: 5px;
}
.benefit-item-title {
  font-weight: bold;
  padding-bottom: 1rem;
}
.benefit-item-desc {
  color: var(--color-gray-2);
}

@media only screen and (max-width: 768px) {
  .benefit-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
  .benefit-item .icon {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
  .benefit .col-3 {
    width: 100%;
  }
}
.product {
  position: relative;
}
.product-img {
  margin-bottom: 1rem;
}
.product-price {
  display: flex;
  font-size: 1.25rem;
}
.product-price.new-price {
  color: #f00;
  margin-right: auto;
}
.product-price.old-price {
  color: #cecece;
}
.product-promo {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

@media only screen and (max-width: 768px) {
  .product-img {
    margin-bottom: 0rem;
  }
  .product-price {
    font-size: 0.833333rem;
    margin-bottom: 0.333333rem;
  }
  .product-promo {
    top: 1rem;
    left: 0.75rem;
  }
}
.input {
  box-sizing: border-box;
  padding: 0.8625rem 1.5rem;
  font-size: 0.75rem;
  border-radius: 3rem;
  border: none;
}

.hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/home-banner-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
}
.hero-container {
  padding: 13.875rem 0 0 6rem;
}
.hero-heading {
  margin-bottom: 10.6875rem;
  color: #fff;
}
.hero-text {
  font-size: 4.5rem;
  line-height: 4.5625rem;
  font-weight: bold;
}
.hero-text span {
  display: block;
}
.hero-redirect {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}
.hero-redirect::before {
  content: "";
  background: url(../assets/img/arrow-right.png);
  background-repeat: no-repeat;
  background-size: auto 1rem;
  background-position: center center;
  vertical-align: middle;
  display: inline-block;
  background-color: #fbb03b;
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 1.25rem;
  border-radius: 50%;
}

.pill {
  position: relative;
  width: 75%;
  bottom: 0;
  padding-top: 2.25rem;
  padding-bottom: 1.5rem;
  padding-right: 6rem;
  z-index: 1;
}
.pill::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -100vw;
  background-color: #fff;
  border-top-right-radius: 3rem;
  z-index: -10;
}
.pill-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.pill-item img {
  width: 2.25rem;
  background-color: #fff3df;
  border-radius: 0.5rem;
}
.pill-item-content {
  margin-left: 1rem;
}
.pill-item-title {
  font-size: 0.875rem;
  font-weight: bold;
}
.pill-item-desc {
  font-size: 0.75rem;
  color: #a8a8a8;
}

.selected-product .container {
  position: relative;
  padding-bottom: 1rem;
}
.selected-product .btn {
  position: absolute;
  top: 0;
  right: 10px;
}

.today-product-title {
  text-align: left;
}

.banner-item {
  position: relative;
}
.banner-item-content {
  position: absolute;
  bottom: 3.3125rem;
  left: 2.5rem;
  right: 2.5rem;
}
.banner-item-title {
  font-size: 1.5rem;
  min-height: 4.5rem;
  margin-bottom: 1.175rem;
  color: #fff;
}

.subcribe {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 90%), url(../assets/img/home-newsletter.png);
  padding: 5.3125rem 0;
  background-size: cover;
  background-position: center;
}
.subcribe-title {
  font-size: 1.5rem;
  color: #fff;
}
.subcribe .subcribe-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.subcribe .subcribe-form .input {
  width: 60%;
}
.subcribe .subcribe-form .btn {
  width: 30%;
}

@media only screen and (max-width: 990px) {
  .banner-item-content {
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
  }
  .banner-item-title {
    font-size: 1rem;
    min-height: 3.5rem;
    margin-bottom: 0.75rem;
  }
  .banner .btn {
    font-size: 0.8rem;
    padding: 0.45rem 0.45rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/home-banner.png);
  }
  .hero-container {
    padding: 22.58333333rem 0;
  }
  .hero-heading {
    margin-bottom: 0;
  }
  .hero-text {
    font-size: 4rem;
  }
  .hero-redirect::before {
    height: 2.6666667rem;
    width: 2.6666667rem;
  }

  .pill {
    display: none;
  }

  .selected-product .btn {
    margin-top: 0.5833333rem;
    right: 2rem;
    padding: 0 0.25rem;
    border: none;
  }

  .banner-item-content {
    left: 1.3333333rem;
    bottom: 1.3333333rem;
    right: 1.3333333rem;
  }
  .banner-item-title {
    font-size: 1.1666666667rem;
    min-height: 3.5rem;
    margin-bottom: 0.75rem;
  }
  .banner .btn {
    padding: 0.25rem 0.8rem;
    font-size: 0.8333333rem;
  }

  .subcribe {
    padding: 2rem 0;
  }
  .subcribe-title {
    font-size: 1.1666666667rem;
    width: 60%;
    margin-bottom: 2rem;
  }
  .subcribe .subcribe-form .input {
    width: 100%;
    margin-bottom: 1.33333333rem;
  }
  .subcribe .subcribe-form .btn {
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 40%;
  }
}
.cart-screen {
  position: relative;
  padding-top: 10rem;
  background-color: #fff;
  z-index: 10;
}
.cart-screen h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.cart-screen .btn {
  width: 10.875rem;
}
.cart-screen .go-back {
  font-weight: bold;
}
.cart-screen .go-back::before {
  content: "⟵";
  font-size: 1.5rem;
  margin-right: 1rem;
}
.cart-screen .promo-code-form {
  border: 2px solid gray;
  border-radius: 2rem;
}
.cart-screen .promo-code-form .input:focus {
  outline: none;
}
.cart-screen .promo-code-form button {
  margin-right: 1rem;
  cursor: pointer;
  transform: rotateZ(-45deg);
  border: none;
  background-color: transparent;
}
.cart-screen .total p {
  display: inline-block;
  margin-right: 1rem;
}
.cart-screen .total .total-price {
  font-weight: bold;
}

.cart-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 2rem;
}
.cart-table thead {
  color: #c1c1c1;
  text-align: center;
}
.cart-table td, .cart-table th {
  box-sizing: border-box;
  vertical-align: middle;
}
.cart-table tr {
  display: table-row;
}
.cart-table tr th:nth-child(1) {
  width: 40%;
  text-align: left;
}
.cart-table tr td:last-child {
  text-align: right;
}
.cart-table-body {
  text-align: center;
}
.cart-table .cart-product {
  height: 4.375rem;
  column-gap: 5rem;
}
.cart-table .cart-product-info {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-table .cart-product-title {
  display: block;
  font-weight: bold;
}
.cart-table .cart-product-id {
  display: block;
  font-weight: normal;
  font-size: 0.8125rem;
  color: #c4c4c4;
}
.cart-table .cart-product-id::before {
  content: "#";
}
.cart-table .cart-product-image {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  margin-right: 3rem;
}
.cart-table .cart-product-qty {
  border: 2px solid #c1c1c1;
  padding: 5px;
  border-radius: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.cart-table .cart-product-qty button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
}
.cart-table .cart-product-qty button:disabled {
  opacity: 0.5;
}
.cart-table .cart-product-price {
  font-weight: bold;
}
.cart-table .cart-product-remover {
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: transparent;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
