.cart-screen {
  position: relative;
  padding-top: 10rem;
  background-color: map-get($map: $color, $key: white);
  z-index: 10;
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .btn {
    width: 10.875rem;
  }  
  .go-back {
    font-weight: bold;
    &::before {
      content: "\27F5";
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
  .promo-code-form {
    border: 2px solid gray;
    border-radius: 2rem;
    .input:focus {
      outline: none;
    }
    button {
      margin-right: 1rem;
      cursor: pointer;
      transform: rotateZ(-45deg);
      border: none;
      background-color: transparent;
    }
  }
  .total {
    p{
      display: inline-block;
      margin-right: 1rem;
    }
    .total-price {
      font-weight: bold;
    }
  }
}
.cart-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 2rem;
  thead {
    color: #c1c1c1;
    text-align: center;
  }
  td, th {
  box-sizing: border-box;
  vertical-align: middle;
  }
  tr {
    display: table-row;
    th:nth-child(1) {
      width: 40%;
      text-align: left;
    }
    td:last-child {
      text-align: right;
    }
  }
  &-body {
    text-align: center;
  }
  .cart-product {
    height: 4.375rem;
    column-gap: 5rem;
    &-info {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-title {
      display: block;
      font-weight: bold;
    }
    &-id {
      display: block;
      font-weight: normal;
      font-size: 0.8125rem;
      color: #c4c4c4;
      &::before {
        content: "#";
      }
    }
    &-image {
      display: block;
      width: 4.375rem;
      height: 4.375rem;
      object-fit: cover;
      object-position: 0 0;
      border-radius: 50%;
      margin-right: 3rem;
    }
    &-qty {
      border: 2px solid #c1c1c1;
      padding: 5px;
      border-radius: 2rem;
      font-weight: bold;
      margin: 0 1rem;
      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
        &:disabled {
          opacity: 0.5;
        }
      }
    }
    &-price {
      font-weight: bold;
    }
    &-remover {
      cursor: pointer;
      border: none;
      font-weight: bold;
      background-color: transparent;
      font-size: 1rem;
    }
  }
}