.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/img/home-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 center;
	&-container {
		position: absolute;
		bottom: 0;
		padding: 0 6rem;
	}
	&-heading {
		width: 45%;
		margin-bottom: 12rem;
		color: map-get($map: $color, $key: white);
	}
	&-text {
		font-size: 4.5rem;
		font-weight: bold;
	}
	&-redirect {
		font-size: 1.5rem;
		line-height: 2.25rem;
		text-decoration: underline;
		&::before {
			content: "";
			background: url(../assets/img/arrow-right.png);
			background-repeat: no-repeat;
			background-size: auto 1.25rem;
			background-position: center center;
			vertical-align: middle;
			display: inline-block;
			background-color: map-get($map: $color, $key: primary);
			height: 2.25rem;
			width: 2.25rem;
			margin-right: 1.25rem;
			border-radius: 50%;
		}
	}
}
.pill {
	height: 4rem;
	width: 75%;
	bottom: 0;
	padding-top: 2.25rem;
	padding-bottom: 1.5rem;
	padding-right: 6rem;
	background-color: map-get($map: $color, $key: white);
	border-top-right-radius: 3rem;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		height: 7.75rem;
		width: 240px;
		overflow-x: auto;
		background-color: map-get($map: $color, $key: white);
		margin-left: -240px;
	}
	&-item {
		display: flex;
		flex-direction: row;
		img {
			height: 2.25rem;
			width: 2.25rem;
			background-color: #fff3df;
			border-radius: 0.5rem;
		}
		&-content {
			margin-left: 1rem;
		}
		&-title {
			font-size: 0.875rem;
			font-weight: bold;
		}
		&-desc {
			font-size: 0.75rem;
			line-height: 1.125rem;
			color: map-get($map: $color, $key: gray-1);
		}
	}
}
.banner {
	&-item {
		position: relative;
		&-content {
			position: absolute;
			bottom: 53px;
			left: 40px;
			width: 70%;
		}
		&-title {
			font-size: 1.5rem;
			line-height: 2.25rem;
			height: 4.5rem;
			color: map-get($map: $color, $key: white);
			margin-bottom: 1.175rem;
		}
	}
}
