.flex {
	display: flex;
}
.f-center-x {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-end {
	justify-content: flex-end;
}