.footer {
	color: map-get($map: $color, $key: white);
	background-color: map-get($map: $color, $key: primary);
	.social {
		img {
			@include icon-size(1rem);
		}
		@include sm-screen {
			display: none;
		}
	}
	.brand-story {
		margin-top: -10px;
		@include sm-screen {
			margin-top: 0;
			width: 100%;
			.logo-img {
				width: 11.44rem;
			}
		}
		&-detail {
			font-size: 0.8725rem;
			@include sm-screen {
				font-size: 1.1666667rem;
			}
		}
	}
	.nav-link {
		&-title {
			font-weight: bold;
		}
		@include sm-screen {
			flex-direction: column;
			gap: 2rem;
		}
	}
	@include sm-screen {
		.row {
			padding-top: 2rem;
			padding-bottom: 4rem;
			> * {
				width: 100%;
			}
		}
	}
}
.copyright {
	padding: 1.5rem;
	border-top: 1px solid map-get($map: $color, $key: white);
	font-size: 0.75rem;
	text-align: center;
}
