.footer {
	color: map-get($map: $color, $key: white);
	background-color: map-get($map: $color, $key: primary);
	.social {
		img {
			@include icon-size(1.125rem);
		}
	}
	.brand-story {
		margin-top: -10px;
		&-detail {
			font-size: 0.8725rem;
		}
	}
	.nav-link {
		height: 100%;
		&-title {
			font-weight: bold;
		}
	}
}
.copyright {
	padding: 1.5rem;
	border-top: 1px solid #fff;
	font-size: 0.75rem;
	text-align: center;
}
