@use "sass:math";
$num-col: 12;
.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.625rem;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -0.625rem;
	> * {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 0.625rem;
	}
	.col {
		flex: 1;
	}
	@for $i from 1 to $num-col {
		.col-#{$i} {
			flex: 0 0 auto;
			width: math.div($i, $num-col) * 100%;
		}
	}
}
@include sm-screen {
	.container {
		padding: 0 2rem;
		max-width: map-get($map: $break-point, $key: small);
	}
	.row {
		@for $i from 1 to $num-col {
			.col-#{$i} {
				@if $i <= math.div($num-col, 2) {
					width: math.div($i, math.div($num-col, 2)) * 100%;
				} @else {
					width: 100%;
				}
			}
		}
	}
}
@include md-screen {
	.container {
		max-width: map-get($map: $break-point, $key: medium);
	}
}
@include lg-screen {
	.container {
		max-width: map-get($map: $break-point, $key: large);
	}
}
