.header {
	position: absolute;
	top: 3rem;
	z-index: 100;
	width: 100%;
	@include sm-screen {
		position: fixed;
		top: 0;
		background-color: map-get($map: $color, $key: white);
		.container {
			padding: 1.66666667rem 2rem;
		}
		.logo-img {
			width: 10.666667rem;
		}
	}
	.menu {
		&-category {
			.list-group {
				gap: 6rem;
				font-weight: bold;
			}
			@include sm-screen {
				display: none;
			}
		}
		&-functional {
			.icon {
				@include icon-size(1.5rem);
				@include sm-screen {
					@include icon-size(1.666666667rem);
				}
			}
			.list-group {
				gap: 1.5rem;
			}
		}
	}
}
