.badge {
	color: map-get($map: $color, $key: white);
	background-color: map-get($map: $color, $key: red);
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.125rem;
	padding: 6px 9px;
	border-radius: 2rem;
}
