.product {
	position: relative;
	&-img {
		margin-bottom: 1rem;
		@include sm-screen {
			margin-bottom: 0rem;
		}
	}
	&-price {
		display: flex;
		font-size: 1.25rem;
		@include sm-screen {
			font-size: 0.833333rem;
			margin-bottom: 0.333333rem;
		}
		&.new-price {
			color: map-get($map: $color, $key: red);
			margin-right: auto;
		}
		&.old-price {
			color: map-get($map: $color, $key: gray-3);
		}
	}
	&-promo {
		position: absolute;
		top: 1.5rem;
		left: 1rem;
		@include sm-screen {
			top: 1rem;
			left: 0.75rem;
		}
	}
}
