// Color
$color: (
	primary: #fbb03b,
	white: #fff,
	black: #333333,
	gray-1: #a8a8a8,
	gray-2: #808080,
	gray-3: #cecece,
	gray-4: #f6f6f6,
	gray-5: #c4c4c4,
	red: #f00,
);
// Font
$font-family-primary: "Poppins", sans-serif;
// Break point
$break-point: (
	small: 480px,
	medium: 768px,
	large: 992px,
	extra-large: 1200px,
);
