// Color
$color-primary: #fbb03b;
$color-white: #fff;
$color-black: #333333;
$color-gray-1: #a8a8a8;
$color-gray-2: #808080;
$color-red: #f00;
// Font
$font-family-primary: "Poppins", sans-serif;
// Break point
$break-point-small: 480px;
$break-point-medium: 768px;
$break-point-large: 992px;
$break-point-extra-large: 1200px;
